/* CSS Document for Design Look and Feel */
	
	
	body 
	{
		background: #fff;
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		color: #3C424E;
	}
	
	td
	{
		color: #3C424E;
	}
	